<section class="pesquisa" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)"> 
            <mat-card-title fxLayoutAlign="center">
                Editar Cadastro de um usuário:
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
                <mat-form-field hintLabel="Deve ter 11 caracteres.">
                    <input 
                        ngModel
                        matInput
                        required
                        validaCPF
                        #cpfInput="ngModel"
                        minlength="11"
                        maxlength="11"
                        name="CPF" 
                        type="text" 
                        placeholder="Digite o CPF"
                    >
                    <!-- Não precisamos importar mat-hint pq é do mat-form-field -->
                    <mat-hint align="end">{{cpfInput.value?.length}}/11</mat-hint>
                    <mat-error *ngIf="cpfInput.hasError('required')">Deve possuir 11 dígitos</mat-error>
                    <mat-error *ngIf="!cpfInput.hasError('required')">Digite CPF válido</mat-error>
                </mat-form-field>
                <mat-card-actions fxLayoutAlign="center">
                    <button 
                        mat-raised-button 
                        type="submit" 
                        color="primary"
                        [disabled]="f.invalid"
                    >
                        Pesquisar
                </button>
                </mat-card-actions>
            </mat-card-content>
        </form>    
    </mat-card>
</section>