<ng-container [ngSwitch]="passo">
    <section *ngSwitchCase="'opcoes'">
        <app-obras-opcoes (selection)="onTypeSelected($event)"></app-obras-opcoes>
    </section>
    <section *ngSwitchCase="'livro'">
        <app-livro></app-livro>
    </section>
    <section *ngSwitchCase="'periodico'">
        <app-periodico></app-periodico>
    </section>
    <section *ngSwitchCase="'midia'">
        <app-midia></app-midia>
    </section>
    <section *ngSwitchCase="'outras'">
        <app-outras-obras></app-outras-obras>
    </section>
    <section *ngSwitchCase="'mapa'">
        <app-mapa></app-mapa>
    </section>
</ng-container>