<ng-container [ngSwitch]="passo">
    <section *ngSwitchCase="'opcoes'">
        <app-obras-opcoes (selection)="onTypeSelected($event)"></app-obras-opcoes>
    </section>
    <section *ngSwitchCase="'livro'">
        <app-livro
            (backOptions)="onBackOptions()"
        ></app-livro>
    </section>
    <section *ngSwitchCase="'periodico'">
        <app-periodico
            (backOptions)="onBackOptions()"
        ></app-periodico>
    </section>
    <section *ngSwitchCase="'midia'">
        <app-midia
            (backOptions)="onBackOptions()"    
        ></app-midia>
    </section>
    <section *ngSwitchCase="'outras'">
        <app-outras-obras
            (backOptions)="onBackOptions()"
        ></app-outras-obras>
    </section>
</ng-container>