<section class="devolver" fxLayout fxLayoutAlign="center">
    <mat-card class="mat-elevation-z3" fxFlex.xs="100%" fxFlex="400px" [style.backgroundColor]="'#D0FCF3'">
            <mat-card-title fxLayoutAlign="start">
                Escolha o relatório a ser gerado:
            </mat-card-title>
    </mat-card>
</section>
<section class="devolver" fxLayout fxLayoutAlign="center">
    <mat-card class="mat-elevation-z3" fxFlex.xs="100%" fxFlex="400px">
            <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
                <h2>Livros emprestados</h2>
            </mat-card-content>
    </mat-card>
</section>
<section class="devolver" fxLayout fxLayoutAlign="center">
    <mat-card class="mat-elevation-z3" fxFlex.xs="100%" fxFlex="400px">
            <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
                <h2>Usuários bloqueados</h2>
            </mat-card-content>
    </mat-card>
</section>
<section class="devolver" fxLayout fxLayoutAlign="center">
    <mat-card class="mat-elevation-z3" fxFlex.xs="100%" fxFlex="400px">
            <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
                <h2>Livros em atraso</h2>
            </mat-card-content>
    </mat-card>
</section>