<section class="obras" fxLayout fxLayoutAlign="center">
    <!--Fixando Card em 400px-->
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">
            Cadastramento de obras
        </mat-card-title>
        <!--Se tirar o fxLayoutAlign abaixo, os campos ficam mais largos-->
        <!--Solução de captura de valor de formulário com select REACTIVE FORM-->
        <form [formGroup]="grupo" #ngForm="ngForm" (ngSubmit)="onFormOpcoesSubmit(grupo.value)">
            <mat-card-content fxLayoutAlign="center">
                    <mat-form-field >
                        <!--Nome da variável para formControlName inicializado no constructor-->
                        <mat-select formControlName= "selecao" placeholder="Tipo de obra" [(value)]="selected">
                            Selecione o tipo de obra que deseja cadastrar:
                            <mat-option value="1">
                                Livro
                            </mat-option>
                            <mat-option value="2">
                                Periódico
                            </mat-option>
                            <mat-option value="3">
                                Mídia
                            </mat-option>
                            <mat-option value="4">
                                Outras
                            </mat-option>
                        </mat-select>
                        <mat-error>  
                            <span *ngIf="!grupo.get('selecao').valid && grupo.get('selecao').touched || ngForm.submitted">Escolha uma opção</span>  
                        </mat-error>  
                    </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button mat-raised-button type="submit" color="primary" [disabled]="!grupo.get('selecao').value">Ir</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>