<section class="cadastro-form">
    <!-- fxLayout definido como padrão row, mas usaremos column pq queremos de cima para baixo -->
    <!-- fxLayoutAlign para centralizar. o primeiro center é na direção do main axis (no caso, column) p segundo é no crossAxis -->
    <!-- ngSubmit captura os dados guardados na variáverl f do ngForm que foram guardados pelo ngModel dos elementos com essa diretiva e os nomes dos elementos HTML -->    
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"#f="ngForm" (ngSubmit)="onSubmit(f)">
        <h3 class="mat-h2">Formulário de cadastro:</h3>
        <mat-form-field hintLabel="Digite o nome completo.">
            <input 
                ngModel 
                matInput
                required
                name="nome" 
                type="text" 
                placeholder="Digite o nome"
            >
        </mat-form-field>
        <mat-form-field hintLabel="Deve ter 11 caracteres.">
            <input 
                ngModel
                matInput
                required
                validaCPF
                #cpfInput="ngModel"
                minlength="11"
                maxlength="11"
                name="cpf" 
                type="text" 
                placeholder="Digite o CPF"
            >
            <!-- Não precisamos importar mat-hint pq é do mat-form-field -->
            <mat-hint align="end">{{cpfInput.value?.length}}/11</mat-hint>
            <mat-error *ngIf="cpfInput.hasError('required')">Deve possuir no mínimo 6 dígitos</mat-error>
            <mat-error *ngIf="!cpfInput.hasError('required')">Digite CPF válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <!--max serve para limitar a escolha de data na tela -->
            <input
                ngModel
                matInput
                required
                [matDatepicker]="picker"
                [max]="maxDate"
                name="nasc"
                placeholder="Data de nascimento"
                >
            <mat-datepicker-toggle 
                matSuffix 
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Selecione a data de nascimento.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <!-- Diretiva e-mail é do Angular -->
            <input 
                ngModel 
                matInput 
                email
                required
                name="email" 
                type="email" 
                placeholder="Digite o e-mail"
                #emailInput="ngModel"
            >
            <mat-error *ngIf="emailInput.hasError('required')">Campo não pode estar vazio.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail é inválido.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                ngModel 
                matInput
                required
                name="rua" 
                type="text" 
                placeholder="Digite o endereço"
            >
            <mat-error>Digite um endereço válido.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                ngModel 
                matInput 
                name="complemento"  
                type="text" 
                placeholder="Complemento"
            >
        </mat-form-field>
        <mat-form-field>
            <input 
                ngModel 
                matInput
                required
                name="cidade" 
                type="text" 
                placeholder="Cidade"
            >
        </mat-form-field>
        
        <!-- 
            EXEMPLO DE CHECKBOX
            <mat-checkbox 
            ngModel
            name="aceite"
            labelPosition="before"
            color="primary"
            required
        >
            Termos de aceite
        </mat-checkbox> -->


        <button 
            mat-raised-button 
            type="submit" 
            color="primary"
            [disabled]="f.invalid"
        >
            Cadastrar
        </button>
    </form>
</section>