<section class="periodicos" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">
            Cadastro de periodico:
        </mat-card-title>
        <!--Se tirar o fxLayoutAlign abaixo, os campos ficam mais largos-->
        <form *ngIf="!hideForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="grupoPeriodico" #ngForm="ngForm" (ngSubmit)="onFormOpcoesSubmit(grupoPeriodico.value)">
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName= "title"
                        name="title" 
                        type="text" 
                        placeholder="Digite o nome do periódico"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input 
                        matInput
                        required
                        formControlName= "publisher"
                        name="publisher" 
                        type="text" 
                        placeholder="Digite a editora"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName="issn"
                        name="issn" 
                        type="text" 
                        placeholder="Digite o ISSN"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName="local"
                        name="local" 
                        type="text" 
                        placeholder="Código de localização"
                    >
                    <mat-error>Preencha o campo</mat-error>            
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        required
                        formControlName="date_acquisition"
                        [matDatepicker]="picker"
                        name="date_acquisition"
                        placeholder="Data de aquisição"
                        >
                    <mat-datepicker-toggle 
                        matSuffix 
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Selecione a data de aquisição</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <!--Nome da variável para formControlName inicializado no constructor-->
                    <mat-select formControlName="type_mag" placeholder="Tipo de obra" [(ngModel)]="cadastro.type_mag" [compareWith]="compareObjects">
                        Selecione categoria:
                        <mat-option *ngFor="let l of lista" value={{l.id}}>
                            {{l.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error>  
                        <span *ngIf="!grupoPeriodico.get('type_mag').valid && grupoPeriodico.get('type_mag').touched || ngForm.submitted">Escolha uma opção</span>  
                    </mat-error>  
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput 
                        required  
                        formControlName="country"
                        name="country"
                        type="text" 
                        placeholder="País"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput 
                        required  
                        formControlName="qtd"
                        name="qtd"
                        type="number" 
                        placeholder="Quantidade"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        formControlName="description"
                        name="description" 
                        type="text" 
                        placeholder="Observações"
                    >
                </mat-form-field>
                <mat-card-actions fxLayoutAlign="center" fxLayoutGap="20px">
                    <button 
                        mat-raised-button 
                        type="button"
                        color="primary"
                        (click)="voltar()"
                    >
                        Voltar
                    </button>
                    <button 
                        mat-raised-button 
                        type="submit" 
                        color="primary"
                    >
                        Cadastrar
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </form>
    </mat-card>
</section>

<section>
    <app-confirmacao
        *ngIf="hideForm"
        [mensagem]="'Revista já cadastrada! Gostaria de editar o cadastro?'"
        (confirmacao)="onConfirmacao($event)"
    ></app-confirmacao>
</section>