<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">
            LOGO
        </a>
    </div>
    <!--Ele está sendo um flex container e um flex element ao mesmo tempo-->
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <!--Setou um layout com distância de 10px entre cada elemento-->
        <ul fxLayout fxLayoutGap="10px" class="navegacao">
            <li>
                <a routerLink="/signup">Cadastro</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/pesquisa">Pesquisar</a>
            </li>
        </ul>
    </div>
</mat-toolbar>