<mat-toolbar color="primary" class="mat-elevation-z2">
    <div fxLayout="row">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a fxLayoutAlign.xs="end" fxLayoutAlign="start center" routerLink="/">
            <img class="logo" src="../../../assets/book.png">
        </a>
    </div>
    <!--Ele está sendo um flex container e um flex element ao mesmo tempo-->
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <!--Setou um layout com distância de 10px entre cada elemento-->
        <ul fxLayout fxLayoutGap="20px" class="navegacao">
            <li *ngIf="isAuth$ | async">
                <a routerLink="/relatorios">Relatórios</a>
            </li>
            <li *ngIf="isAuth$ | async">
                <a routerLink="/emprestimos">Empréstimos</a>
            </li>
            <li *ngIf="isAuth$ | async">
                <a routerLink="/cadastros">Cadastros</a>
            </li>
            <li *ngIf="!(isAuth$ | async)">
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/pesquisa">Pesquisar</a>
            </li>
            <li *ngIf="isAuth$ | async">
                <a (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>