<section class="livros" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">
            Cadastro de livro:
        </mat-card-title>
        <!--Se tirar o fxLayoutAlign abaixo, os campos ficam mais largos-->
        <form fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="grupoLivro" #ngForm="ngForm" (ngSubmit)="onFormOpcoesSubmit(grupoLivro.value)">
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName= "nomeLivro"
                        name="nomeLivro" 
                        type="text" 
                        placeholder="Digite o nome do livro"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input 
                        matInput
                        required
                        formControlName= "nomeAutor"
                        name="nomeAutor" 
                        type="text" 
                        placeholder="Digite o nome do autor"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName="isbn"
                        name="isbn" 
                        type="text" 
                        placeholder="Digite o ISBN"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        required
                        formControlName="local"
                        name="local" 
                        type="text" 
                        placeholder="Código de localização"
                    >
                    <mat-error>Preencha o campo</mat-error>            
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        required
                        formControlName="data"
                        [matDatepicker]="picker"
                        name="data"
                        placeholder="Data de aquisição"
                        >
                    <mat-datepicker-toggle 
                        matSuffix 
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Selecione a data de aquisição</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <!--Nome da variável para formControlName inicializado no constructor-->
                    <mat-select formControlName="categoria" placeholder="Tipo de obra" [(value)]="selected">
                        Selecione categoria:
                        <mat-option *ngFor="let l of livrosCategoria$ | async" value={{l.nome}}>
                            {{l.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error>  
                        <span *ngIf="!grupoLivro.get('categoria').valid && grupoLivro.get('categoria').touched || ngForm.submitted">Escolha uma opção</span>  
                    </mat-error>  
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput 
                        required  
                        formControlName="pais"
                        name="pais"
                        type="text" 
                        placeholder="País"
                    >
                    <mat-error>Preencha o campo</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input 
                        matInput
                        name="obs" 
                        type="text" 
                        placeholder="Observações"
                    >
                </mat-form-field>
                <mat-card-actions fxLayoutAlign="center" fxLayoutGap="20px">
                    <button 
                        mat-raised-button
                        type="button" 
                        color="primary"
                        (click)="voltar()"
                    >
                        Voltar
                    </button>
                    <button 
                        mat-raised-button 
                        type="submit" 
                        color="primary"
                    >
                        Cadastrar
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </form>
    </mat-card>
</section>